.head_bg{
    background: url("../images/other/head.jpg") no-repeat scroll 0 0 transparent;
	height: 60px;
	
}
.left_label{
  font-size: 40px;
  font-family: "Microsoft YaHei";
  color: rgb( 255, 255, 255 );
  line-height:50px;
  text-align: left;
  position: absolute;
  left: 10px;
  top: 3px;
  
  
}
.right_bg{
   
    background: url("../images/other/right_bg.png");  
 	width:600px ;
	float:right;
	height: 48px;
	margin-top:6.5px;
	margin-right:12px;
	text-align:center;
	 
}
.right_set{
    background: url("../images/other/set.png") no-repeat scroll 0 0 transparent;
	width:22px;
	height: 22px;
	color: #000000;
  	font-size: 13px;
  	padding: 6px 1px 6px 23px;
  	margin-left:15px;
}
.right_exit{
    background: url("../images/other/exit.png") no-repeat scroll 0 0 transparent;
	width:22px;
	height: 22px;
	color: #000000;
  	font-size: 13px;
  	padding: 6px 1px 6px 23px;
  	margin-left:15px;
}
.right_help{
    background: url("../images/other/help.png") no-repeat scroll 0 0 transparent;
	width:22px;
	height: 22px;
	color: #000000;
  	font-size: 10px;
  	padding: 6px 1px 6px 23px;
  	margin-left:15px;
}
.desktop_bg{
    background: url("../images/other/bg.png") repeat scroll 0 0 transparent;
}
.bottom_bg{
 background: url("../images/other/bottom.jpg") no-repeat scroll 0 0 transparent;
 height: 30px;
 text-align:center;
 line-height:30px;
 font-size:15px;	
}
.mydesktop{
 background: url("../images/other/desktop.jpg") no-repeat scroll 0 0 transparent;
 background-size: cover;
  overflow: hidden;
  width: 100%;	
}
.div-line{
    border-top: 1px solid #888888;
    margin-bottom:5px;
    position: relative;
    width:  100%;
    }
 /****/
.info-view{background:#f4f4f4;}
.info-view .optbar{background:#f4f4f4;width:auto;right:0;}
.info-view .optbar-inner{float:right}
.info-view .subTitle {padding: 0 0 15px 0;border-bottom: 1px #ccc solid;margin-bottom: 20px;}
.info-view .mainDiv {padding: 20px 30px;margin: 20px auto;border-left: 1px solid #efefef;border-right: 1px solid #efefef;border-bottom: 0px solid #d3d3d3;border-top: 0px solid #d3d3d3;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);background: #fff;margin-bottom: 10px;width: 800px;}
.info-view .subjectDiv {font-size: 24px;font-weight: 600;text-align: center;margin-top: 20px;color: #000;font-family: "΢���ź�", "����";word-break:break-all;}
.info-view .newsInfo {margin-bottom: 5px;margin-top: 20px;}
.info-view .contentDiv {text-align: left;height: auto !important;min-height: 400px;color: #383838;margin-top: 10px;}
.info-view .toTopDiv {padding: 20px 0px 20px 0px;text-align: right;}
.info-view .roomBg {width: 114px;height: 25px;background: url('../images/fontBig.jpg') no-repeat;padding-top: -2px;color: #737373;}
.info-view .roomFont {margin-left: 43px;font-size: 12px;}
.info-view .center{text-align: center;}
.datagrid-header-rownumber,.datagrid-cell-rownumber{ width:38px; }
 
 