@charset "utf-8";
/*html*/
body, div, ul, ol, li, dl, dt, dd, p, span, em, i, small, strong, h1, h2, h3, h4, h5, h6, form, input, button, select, textarea, img {
  margin: 0;
  padding: 0; }

body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #333;
  min-width: 1000px;
  _width: expression(document.documentElement.clientHeight > 1000 "1000px" : ""); }

h1, h2 {
  font-size: 16px;
  font-weight: normal; }

h3, h4, h5, h6 {
  font-size: 14px;
  font-weight: normal; }

em, i, small {
  font-size: 12px;
  color: #999;
  font-style: normal; }

ul, ol, li {
  list-style: none; }

*:focus {
  outline: none;
  -moz-outline: none; }

a, a:link, a:visited {
  color: #333;
  text-decoration: none; }

a:hover, a:active {
  color: #f84c4c;
  text-decoration: none; }

a:hover > .fa, a:active > .fa {
  color: #f84c4c;
  text-decoration: none; }

img {
  border: 0; }

/*text-color*/
.rt {
  color: #f84c4c !important; }

.ot {
  color: #fc6607 !important; }

.bt {
  color: #3ca0fe !important; }

.wt {
  color: #fff !important; }

/*text-size*/
.f16 {
  font-size: 16px; }

.f14 {
  font-size: 14px; }

.f12 {
  font-size: 12px; }

/*bg-color*/
.red {
  background-color: #f84c4c;
  color: #fff; }

.red:hover {
  background-color: #f63c3c; }

.blue {
  background-color: #3ca0fe;
  color: #fff; }

.blue:hover {
  background-color: #3197f8; }

.orange {
  background-color: #fc6607;
  color: #fff; }

.orange:hover {
  background-color: #f26100; }

.green {
  background-color: #51b06c;
  color: #fff; }

.green:hover {
  background-color: #46a862; }

.gray {
  background-color: #c0c0c0;
  color: #fff; }

.gray:hover {
  background-color: #b8b8b8; }

.grey {
  background-color: #f3f3f3;
  color: #585858; }

.white {
  background-color: #fff; }

/*border*/
.bd {
  border: 1px solid #d4d4d4; }

.bd-t {
  border-top: 1px solid #d4d4d4; }

.bd-r {
  border-right: 1px solid #d4d4d4; }

.bd-b {
  border-bottom: 1px solid #d4d4d4; }

.bd-l {
  border-left: 1px solid #d4d4d4; }

/*float*/
.fl {
  float: left; }

.fr {
  float: right; }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

/*display*/
.db {
  display: block; }

.dn {
  display: none; }

.di {
  display: inline; }

.dib {
  display: inline-block; }

/*align*/
.tc {
  text-align: center; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/*postion*/
.pr {
  position: relative; }

.pa {
  position: absolute; }

/*btn*/
.btn {
  display: inline-block;
  padding: 6px 26px;
  font-family: "Microsoft YaHei";
  border: none;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer; }

.tab-pane {
  display: none; }

.active {
  display: block; }

.oh {
  overflow: hidden; }

.vv {
  visibility: visible; }

.vh {
  visibility: hidden; }

.wrapper {
  width: 100%;
  min-width: 1000px;
  margin: 0 auto;
  overflow: hidden; }

/* topbanner-box */
.topbanner {
  position: relative;
  width: 100%;
  height: 120px;
  margin: 0 auto; }

.topbanner > a {
  display: block;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  background: url("../img/top-banner.jpg") center center no-repeat; }

.close-icon {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 50%;
  display: block;
  width: 1000px;
  margin-left: -505px; }

#close {
  float: right;
  width: 22px;
  height: 22px; }

/*topinfo-box*/
.topinfo-box {
  width: 100%;
  background-color: #f5f5f5; }

.topinfo {
  width: 1000px;
  height: 35px;
  margin: 0 auto;
  line-height: 34px; }

.topinfo-left {
  width: 680px;
  display: block; }

.leftinfo {
  width: 100%; }

.leftinfo-link {
  float: left;
  display: block;
  margin-right: 15px;
  vertical-align: top; }

#com-name {
  max-width: 200px;
  height: 35px;
  display: inline-block; }

.rightinfo {
  width: 320px;
  display: block; }

.rightinfo-link {
  float: right;
  display: block;
  margin-left: 25px;
  position: relative; }

.leftinfo-link > a, .rightinfo-link > a {
  padding: 0px 3px; }

.rightinfo-link > a > i {
  margin-left: 10px;
  vertical-align: 3px; }

.rightinfo-link:hover > .top-qrcodebg {
  visibility: visible; }

.top-qrcodebg {
  position: absolute;
  top: 28px;
  left: -25px;
  z-index: 10;
  visibility: hidden;
  background: url("../img/top-qrcodebg.png") top center no-repeat; }

.top-qrcode {
  padding: 20px 13px 1px; }

.top-qrcode > img {
  width: 95px;
  height: 95px; }

/*mainmenu-box*/
.mainmenu {
  width: 1000px;
  height: 75px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 74px; }

#mlogo {
  float: left;
  width: 200px;
  height: 60px;
  display: block;
  margin-top: 8px; }

.mnav {
  width: 780px;
  height: 75px;
  margin-left: 20px; }

.mnav > li {
  float: left;
  width: auto; }

.mnav > li > a {
  padding: 0px 25px;
  display: block;
  position: relative; }

.mnav-now {
  color: #f84c4c !important; }

.mnav > li:hover {
  background-color: #f84c4c; }

.mnav > li:hover > a, .mnav > li:hover > a:hover, .mnav > li:hover > a:active {
  color: #fff; }

#new {
  position: absolute;
  top: 20px;
  right: -10px;
  z-index: 5; }

.mnav > li > a > i {
  margin-left: 15px;
  vertical-align: 3px; }

.mnav > li:hover > a > .fa {
  color: #fff; }

.mnav-more {
  position: absolute;
  z-index: 180;
  width: 138px;
  text-align: center;
  display: none; }

.mnav > li:hover > .mnav-more {
  display: block; }

.mnav-more > li {
  height: 40px;
  line-height: 40px;
  background-color: #f84c4c;
  display: block;
  margin-top: 1px; }

.mnav-more > li:hover {
  background-color: #f63c3c; }

.mnav-more > li > a {
  display: block;
  color: #fff; }

.mnav-more > li:hover > a, .mnav-more > li:hover > a:hover, .mnav-more > li:hover > a:active {
  color: #fff; }

/*banner*/
.banner {
  width: 100%;
  height: 460px;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }

.slides {
  width: 100%;
  height: 460px;
  overflow: hidden; }

.slides > a {
  float: left;
  display: block;
  width: 100%;
  height: 460px; }

.slideList {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 50;
  display: block;
  width: 110px;
  margin-left: -55px;
  text-align: center; }

.slideList li {
  float: left;
  width: 24px;
  height: 6px;
  background-color: #acacac;
  margin: 0 5px;
  cursor: pointer; }

.slideList li:first-child {
  margin-left: 0; }

.slideList li:last-child {
  margin-right: 0; }

.slideList li.active {
  background-color: #3ca0fe; }

.arrow {
  position: absolute;
  z-index: 60;
  left: 2%;
  bottom: 200px;
  width: 96%;
  height: 90px; }

.arrow > a {
  display: block;
  width: 45px;
  height: 90px;
  background: url("../img/b-arrow.png") no-repeat; }

.arrow > a.prev {
  background-position: left top; }

.arrow > a.next {
  background-position: right top; }

/*announcement*/
.announcement-box {
  width: 100%;
  background-color: #f3f3f3; }

.announcement {
  width: 1000px;
  height: 45px;
  margin: 0 auto;
  line-height: 45px; }

.announcement > i {
  margin-right: 5px;
  margin-top: 16px; }

.announcement > span, .announcement > ul {
  float: left;
  display: inline-block;
  margin-right: 10px; }

.ac-title {
  width: 60px; }

.ac-lists {
  width: 820px;
  height: 45px;
  overflow: hidden; }

.ac-lists > li {
  width: 380px;
  height: 45px;
  margin-right: 30px; }

.ac-bt {
  width: 60px;
  height: 45px; }

.ac-bt > span {
  display: block;
  width: 18px;
  height: 10px;
  margin-top: 16px;
  background: url("../img/s-arrow.png") no-repeat;
  cursor: pointer; }

.ac-bt > span.bn-arrows-up {
  background-position: left top; }

.ac-bt > span.bn-arrows-down {
  background-position: right top; }

.ac-bt > span.bn-arrows-up:hover {
  background-position: left bottom; }

.ac-bt > span.bn-arrows-down:hover {
  background-position: right bottom; }

/*maincontainer*/
.maincontainer {
  width: 100%;
  height: auto;
  padding: 40px 0px; }

.main {
  width: 1000px;
  margin: 0 auto;
  position: relative; }

/*maincontent*/
.maincontent {
  width: 750px;
  height: auto; }

.column-bd {
  width: 748px;
  height: auto;
  margin: 0 auto 20px;
  border: 1px solid #d4d4d4;
  background-color: #fff; }

.column {
  width: 750px;
  height: auto;
  margin: 0 auto 20px;
  position: relative;
  background-color: #fff; }

.guild-tabs {
  width: 748px;
  height: 38px;
  display: block; }

.guild-tabs > li {
  width: 20%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  cursor: pointer; }

.guild-tabs > li.active {
  background-color: #f84c4c; }

.guild-tabs > li.active > a, .guild-tabs > li.active > a:hover {
  color: #fff; }

.guild-cons {
  width: 100%;
  height: 234px; }

/*.guild-cons>.tab-pane{ display: none;}
.guild-cons>.active{ display: block;}*/
.fair-con {
  width: 748px;
  height: 234px; }

.fair-calendar {
  width: 52px;
  height: 234px; }

.fair-calendar > li {
  padding: 2px;
  border-bottom: 1px solid #d4d4d4;
  background-color: #f3f3f3;
  color: #585858;
  text-align: center;
  cursor: pointer; }

.fair-calendar > li:last-child {
  border-bottom: none; }

.calen-btn {
  height: 12px;
  line-height: 12px; }

.calen-btn > a:hover {
  color: #3ca0fe; }

.date {
  line-height: 24px;
  border-bottom: 1px solid #d4d4d4; }

.ym-date {
  font-size: 10px !important;
  line-height: 20px; }

.date-list:hover {
  background-color: #3ca0fe;
  color: #fff; }

.date-list:hover > .date {
  border-bottom: 1px solid #fff; }

.faircontent {
  position: relative;
  padding: 24px 18px; }

.fairstate {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px; }

.ing {
  background: url("../img/ing.png") top right no-repeat; }

.notto {
  background: url("../img/notto.png") top right no-repeat; }

.end {
  background: url("../img/end.png") top right no-repeat; }

.fairimg {
  width: 230px;
  height: 185px; }

.fairimg > img {
  width: 230px;
  height: 185px; }

.fairinfo {
  width: 415px;
  height: 185px;
  display: block;
  margin-left: 14px; }

.fairinfo > dt {
  display: block; }

.fairtile {
  line-height: 34px; }

.fairinfo > dd {
  display: block;
  line-height: 24px; }

.fairinfo > dd > i {
  margin-right: 5px;
  display: inline-block; }

.fairinfo-address > i {
  margin-right: 9px !important; }

.fairinfo-bus {
  max-height: 72px;
  overflow: hidden; }

.fairinfo-bus > i {
  vertical-align: 46px; }

.bus-txt {
  width: 376px;
  display: inline-block; }

.fairinfo-btn {
  margin-top: 7px; }

.fairinfo-btn > a {
  display: inline-block;
  width: 110px;
  height: 36px;
  line-height: 36px;
  text-align: center; }

.book {
  margin-right: 20px; }

.latest-list {
  padding: 20px; }

.latestnew {
  width: 350px;
  height: 194px; }

.latesnew-img {
  width: 348px;
  height: 98px;
  display: block; }

.latesnew-img > a > img {
  width: 323px;
  height: 78px;
  display: block;
  border: 1px solid #d4d4d4;
  margin: 9px auto; }

.latestnew-con {
  display: block;
  width: 350px;
  height: 84px;
  margin-top: 10px; }

.latestnew-con > dt, .latestnew-con > dd {
  display: block; }

.latestnew-title {
  line-height: 30px; }

.latestnew-memo {
  line-height: 24px;
  font-size: 12px; }

.latestnew-memo > a > .fa {
  margin-left: 5px; }

.latestnew-list {
  width: 330px;
  height: 194px;
  display: block; }

.latestnew-item {
  display: list-item;
  line-height: 22px; }

.latestnew-item:before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #c0c0c0;
  margin-right: 7px;
  vertical-align: 8px; }

.latestnew-item > a {
  display: inline-block;
  width: 270px; }

.latestnew-item > small {
  display: inline-block;
  width: 45px;
  margin-left: 5px;
  vertical-align: 6px; }

/*logininfo*/
.rightcontain {
  width: 220px;
  height: auto; }

.logininfo {
  width: 220px;
  margin-bottom: 10px; }

.logintop {
  font-size: 16px;
  line-height: 36px; }

/*not*/
.login-not {
  padding: 10px; }

.loginform {
  width: 200px; }

.form-group {
  padding-bottom: 10px;
  width: 200px;
  height: auto;
  overflow: hidden; }

.radio-inline, .checkbox-inline {
  display: inline-block;
  padding-left: 5px;
  cursor: pointer; }

.radio-inline > input, .checkbox-inline > input {
  margin-right: 5px;
  vertical-align: -2px; }

.form-control {
  display: block;
  padding: 4px 10px;
  width: 180px;
  height: 26px;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  line-height: 26px;
  border: none; }

.form-group > small {
  display: none;
  margin-top: 3px;
  white-space: nowrap; }

.verify {
  display: inline-block;
  width: 90px; }

.verifycode {
  margin: 2px 10px 2px;
  width: 68px;
  height: 28px;
  border: 1px solid #ddd; }

.verifycode > img {
  width: 68px;
  height: 28px; }

.login {
  width: 100%; }

.backtxt {
  margin-bottom: 2px; }

.loginbt {
  line-height: 28px; }

.appqrcode {
  width: 220px;
  margin-bottom: 10px; }

.version-tabs {
  width: 220px;
  height: 36px;
  display: block;
  border-bottom: 1px solid #d4d4d4; }

.version-tabs > li {
  width: 50%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  cursor: pointer; }

.version-tabs > li.active {
  border-bottom: 1px solid #3ca0fe; }

.version-tabs > li > i {
  color: #c0c0c0;
  margin-right: 5px; }

.version-tabs > li:hover > a, .version-tabs > li:hover > i, .version-tabs > li.active > a, .version-tabs > li.active > i {
  color: #3ca0fe; }

.ver-qrcode {
  padding: 10px 15px; }

/*.ver-qrcode>.tab-pane{ display: none;}
.ver-qrcode>.active{ display: block;}*/
.ad-qrcode, .ap-qrcode {
  display: block;
  width: 190px;
  height: 90px;
  overflow: hidden; }

.ad-qrcode > li, .ap-qrcode > li {
  display: inline-block;
  width: 90px;
  height: 90px; }

.ad-qrcode > li > img, .ap-qrcode > li > img {
  width: 90px;
  height: 90px; }

.gotop {
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px; }

.gotop > a {
  display: block;
  width: 29px;
  height: 15px;
  margin: 0 auto;
  background: url("../img/top.png") top center no-repeat; }

.gotop > a:hover {
  background-position: bottom center; }

/*person&commpany*/
.userinfo-box {
  padding: 10px; }

.userhead {
  width: 110px;
  height: 110px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 3px #999;
  padding: 5px;
  margin: 0 auto; }

.userheadpic {
  width: 110px;
  height: 110px;
  border-radius: 50%; }

.username {
  width: 200px;
  height: 28px;
  text-align: center;
  line-height: 28px; }

.userinfo {
  display: block;
  height: 60px;
  margin: 5px auto;
  overflow: hidden; }

.userinfo > li {
  display: inline-block;
  width: 63px;
  height: 60px;
  text-align: center;
  border-right: 1px solid #d4d4d4; }

.userinfo > li:last-child {
  border: none; }

.userinfo li strong {
  display: block;
  font-size: 28px;
  color: #f84c4c;
  font-weight: normal; }

.userinfo li span {
  display: block;
  font-size: 13px; }

.userinfo-btn {
  display: block;
  width: 200px;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  background-color: #3ca0fe;
  text-align: center; }

.userinfo-btn:hover {
  background-color: #3197f8; }

/*search-box*/
.search-box {
  padding: 10px; }

.search-box input {
  border: none;
  width: 100%;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  line-height: 28px; }

.search-txt {
  width: 476px;
  background-color: #fff;
  padding: 4px 12px;
  margin-right: 10px;
  overflow: hidden; }

.search-area {
  width: 94px;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  padding: 4px 12px;
  margin-right: 10px;
  overflow: hidden; }

.search-area > .fa {
  position: absolute;
  right: 10px;
  top: 10px; }

.search-area:hover > .fa {
  color: #f84c4c; }

.search-btn {
  padding: 2px 15px;
  font-size: 16px !important;
  color: #fff;
  background-color: #f84c4c;
  cursor: pointer; }

.welfare {
  width: 100%;
  line-height: 28px;
  margin-top: 10px; }

.welfare > h3 {
  display: inline-block;
  width: 75px;
  font-weight: 600;
  color: #333; }

.wf-class {
  display: inline-block;
  width: 600px;
  height: 28px;
  overflow: hidden; }

.wf-list {
  margin-right: 8px;
  padding: 0px 2px; }

a.cur {
  background: #f84c4c;
  color: #fff; }

a.cur:hover {
  background-color: #f63c3c;
  color: #fff; }

.wf-btn {
  display: inline-block; }

.show {
  display: block; }

.pack {
  display: none;
  color: #f84c4c !important; }

.pack > .fa {
  color: #f84c4c; }

.areaselect {
  position: absolute;
  top: 47px;
  right: 112px;
  width: 420px;
  min-height: 342px;
  padding: 19px;
  height: auto;
  display: none;
  z-index: 278; }

.fastselect {
  width: 400px;
  height: auto;
  min-height: 60px;
  padding: 9px; }

.fastselect > h3 {
  font-weight: 600; }

.fastselect > a {
  padding-right: 11px;
  line-height: 24px; }

.areabox {
  position: relative;
  width: 420px;
  height: auto;
  margin-top: 10px;
  z-index: 20; }

.areagroup {
  width: 100%;
  height: 30px; }

.areasort {
  display: inline-block;
  padding: 0px 14px;
  line-height: 28px;
  margin-right: 20px; }

.arealist {
  position: absolute;
  top: 29px;
  left: 0px;
  padding: 12px 19px;
  width: 380px;
  min-height: 196px;
  z-index: 18; }

.cover-line {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 84px;
  height: 1px;
  background: #fff; }

.cover-line1 {
  position: absolute;
  top: -1px;
  left: 110px;
  width: 84px;
  height: 1px;
  background: #fff; }

.cover-line2 {
  position: absolute;
  top: -1px;
  left: 220px;
  width: 84px;
  height: 1px;
  background: #fff; }

.province, .city, .county {
  width: 100%; }

.pv-list, .ci-list, .ct-list {
  float: left;
  width: 54px;
  height: 28px;
  margin-right: 27px;
  text-align: left;
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.pv-list:nth-child(5n), .ci-list:nth-child(5n), .ct-list:nth-child(5n) {
  margin-right: 0; }

/*train*/
.column-bar {
  display: inline-block;
  width: 683px;
  line-height: 48px;
  font-size: 18px; }

.column-bar > .fa {
  margin-left: 12px;
  margin-right: 8px;
  font: normal normal normal 18px/1 FontAwesome; }

a.bar-more {
  display: inline-block;
  width: 60px;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  float: right; }

.train {
  display: block;
  width: 748px;
  height: 195px;
  background: #fff;
  overflow: hidden; }

.train-sort {
  position: relative;
  float: left;
  cursor: pointer;
  width: 48px;
  height: 195px;
  overflow: hidden; }

.t-bar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 28px;
  height: 175px;
  font-size: 18px;
  border-right: 1px solid #d4d4d4;
  line-height: 18px;
  overflow: hidden;
  text-align: center; }

.train-sort > .cur {
  background-color: #f84c4c;
  color: #fff; }

.t-con {
  position: absolute;
  left: 69px;
  top: 20px;
  width: 560px;
  height: 155px; }

.t-img {
  width: 193px;
  height: 153px;
  border: 1px solid #d4d4d4;
  overflow: hidden; }

.t-img > img {
  width: 193px;
  height: 153px; }

.t-content {
  width: 350px;
  height: 155px; }

.t-content > dt {
  line-height: 32px;
  font-weight: 600; }

.t-content > dd {
  line-height: 28px;
  color: #666; }

.t-content > dd > .f16 {
  font-weight: 600; }

.t-title {
  width: 100%;
  height: 32px; }

.t-memo {
  width: 100%;
  height: 56px;
  overflow: hidden; }

.tm-title {
  display: inline-block;
  width: 45px; }

.t-memo > .tm-title {
  vertical-align: 48px; }

.tm-para, .tm-address {
  display: inline-block;
  width: 305px; }

.t-add {
  width: 100%; }

.t-link {
  line-height: 32px; }

/*brand*/
.brand {
  display: block;
  width: 750px;
  height: auto; }

.brand-list {
  float: left;
  width: 214px;
  height: 158px;
  border: 1px solid #d4d4d4;
  padding: 10px;
  margin-right: 21px;
  margin-bottom: 20px; }

.brand-list:nth-child(3n) {
  margin-right: 0px; }

.brand-head {
  width: 214px;
  height: 104px;
  overflow: hidden;
  cursor: pointer;
  position: relative; }

.brandlogo {
  width: 214px;
  height: 104px;
  display: block; }

.brand-jobs {
  position: absolute;
  top: 104px;
  left: 0;
  z-index: 5;
  display: block;
  width: 194px;
  height: 74px;
  padding: 15px 10px;
  background: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  overflow: hidden; }

.brand-jobs > a {
  padding-right: 5px;
  color: #fff;
  line-height: 24px; }

.brand-head:hover .brand-jobs {
  top: 0; }

.brandinfo {
  margin-top: 4px;
  width: 214px;
  height: 50px; }

.brand-name {
  display: block;
  font-size: 16px;
  width: 214px;
  height: 26px; }

.brandinfo-bt {
  width: 214px;
  height: 24px;
  line-height: 24px; }

.brand-jobtxt {
  width: 120px;
  color: #585858; }

.brand-icon {
  width: 94px;
  text-align: right; }

.bicon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 5px;
  margin-right: 3px;
  background: url("../img/c-icon.png") no-repeat; }

.bicon:last-child {
  margin-right: 0px; }

.icon-accept {
  background-position: 0px 0px; }

.icon-pic {
  background-position: -20px 0px; }

.icon-video {
  background-position: -40px 0px; }

.icon-jipin {
  background-position: -60px 0px; }

/*enterprise*/
.enterprise {
  display: block;
  width: 750px;
  height: auto; }

.enterprise-list {
  position: relative;
  float: left;
  width: 343px;
  height: 68px;
  padding: 10px;
  border: 1px solid #d4d4d4;
  margin-bottom: 20px;
  margin-right: 20px; }

.enterprise-list:nth-child(2n) {
  margin-right: 0px; }

.jipin {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  display: block;
  width: 38px;
  height: 38px;
  background: url("../img/jipin.png") top center no-repeat; }

.enterlogo {
  width: 68px;
  height: 68px; }

.enterlogo > img {
  width: 68px;
  height: 68px;
  display: block; }

.enterinfo {
  width: 260px;
  height: 50px;
  margin-top: 9px;
  overflow: hidden; }

.enterinfo-name {
  display: block;
  width: 260px;
  height: 26px;
  line-height: 26px;
  font-size: 16px; }

.enterinfo-jobs {
  display: block;
  width: 260px;
  height: 24px;
  line-height: 24px; }

.enterinfo-jobs > a {
  padding-right: 5px; }

.recruit {
  display: block;
  width: 750px;
  height: auto; }

.recruit-list {
  float: left;
  display: inline-block;
  width: 350px;
  height: 32px;
  padding-right: 25px;
  background: url("../img/retleft.png") left center no-repeat; }

.recruitxt {
  width: 330px;
  height: 32px;
  margin-left: 20px;
  line-height: 32px; }

.recruit-name {
  position: relative;
  float: left;
  max-width: 240px;
  font-size: 16px; }

.recruit-name > a {
  display: inline-block;
  max-width: 240px;
  height: 32px; }

.recruit-icon {
  float: left;
  display: inline-block;
  margin-left: 8px; }

.recruit-jobs {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 200;
  display: none;
  width: 172px;
  height: auto;
  max-height: 250px; }

.recruit-name:hover .recruit-jobs {
  display: block; }

.tecruit-top {
  display: block;
  width: 12px;
  height: 6px;
  margin-left: 15px;
  background: url("../img/reup.png") no-repeat; }

.recruit-jobs > h3 {
  display: block;
  width: 162px;
  height: 34px;
  font-size: 16px;
  line-height: 34px;
  padding-left: 10px; }

.r-jobs-list {
  background-color: #fff;
  width: 150px;
  height: auto;
  max-height: 200px;
  padding: 7px 10px;
  border: 1px solid #f84c4c; }

.r-jobs-now {
  display: block;
  width: 150px;
  height: auto;
  max-height: 170px;
  overflow: hidden; }

.r-jobs-now > li {
  width: 142px;
  height: 24px;
  padding-left: 8px;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: url("../img/rets.png") left center no-repeat; }

.r-jobs-more {
  display: inline-block;
  font-size: 14px; }

/*talent*/
.talent {
  display: block;
  width: 750px;
  height: auto; }

.talent-list {
  float: left;
  width: 145px;
  height: 164px;
  padding: 18px 15px;
  border: 1px solid #d4d4d4;
  margin-right: 14px; }

.talent-list:last-child {
  margin-right: 0px; }

.talent-head {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  padding: 4px;
  background-color: #f5f5f5;
  margin: 0px auto; }

.talent-head img {
  width: 82px;
  height: 82px;
  border-radius: 50%; }

.talent-info {
  width: 145px;
  height: 70px;
  margin-top: 4px;
  overflow: hidden;
  text-align: center; }

.talent-name {
  font-size: 16px;
  line-height: 24px; }

.talent-info > p {
  margin-top: 4px; }

.talent-memo {
  width: 145px;
  line-height: 16px;
  text-align: center; }

.talent-memo > span {
  display: inline-block;
  width: 43px;
  text-align: center;
  padding-right: 2px;
  border-right: 1px solid #d4d4d4; }

.talent-memo > span:last-child {
  padding-right: 0px;
  border-right: none; }

.talent-order {
  width: 145px;
  line-height: 16px;
  text-align: center; }

.talent-order > span {
  color: #f84c4c; }

/*profession*/
.profession {
  width: 748px;
  height: auto; }

.profe-tabs {
  display: block;
  width: 748px;
  height: 39px;
  border-bottom: 1px solid #d4d4d4; }

.profe-tabs > li {
  width: 130px;
  line-height: 39px;
  text-align: center;
  cursor: pointer; }

.profe-tabs > li.active {
  background-color: #f84c4c; }

.profe-tabs > li.active > a, .profe-tabs > li.active > a:hover {
  color: #fff; }

.profecon {
  width: 718px;
  min-height: 158px;
  padding: 20px 15px; }

.profecon-list {
  width: 718px;
  min-height: 158px;
  display: block; }

.profecon-item {
  float: left;
  display: list-item;
  width: 350px;
  padding-right: 9px;
  line-height: 22px; }

.profecon-item:before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #c0c0c0;
  margin-right: 7px;
  vertical-align: 8px; }

.profecon-item > a {
  display: inline-block;
  width: 230px;
  line-height: 22px; }

.profecon-item > small {
  float: right;
  display: inline-block;
  width: 75px;
  line-height: 22px; }

/*link*/
.fr-link {
  width: 748px;
  height: auto; }

.link-tabs {
  display: block;
  width: 748px;
  height: 39px;
  border-bottom: 1px solid #d4d4d4; }

.link-tabs > li {
  width: 130px;
  line-height: 39px;
  text-align: center;
  cursor: pointer; }

.link-tabs > li.active {
  background-color: #f84c4c; }

.link-tabs > li.active > a, .guild-tabs > li.active > a:hover {
  color: #fff; }

.linkcon {
  width: 728px;
  min-height: 50px;
  padding: 20px 10px; }

.link-list {
  width: 728px;
  min-height: 50px;
  display: block; }

.link-item {
  float: left;
  display: inline-block;
  width: 175px;
  margin-right: 9px;
  margin-bottom: 5px; }

.link-item:nth-child(4n) {
  margin-right: 0px; }

.link-item img {
  width: 175px;
  height: 50px; }

/*leftsidebar*/
.leftsidebar {
  position: fixed;
  left: 200px;
  bottom: 10px; }

.class-search {
  width: 440px;
  height: 770px;
  position: relative; }

.class-icon {
  position: absolute;
  top: 0;
  left: 136px;
  width: 84px;
  height: 80px;
  border-radius: 6px 0px 0px 6px;
  padding: 5px 0px;
  text-align: center;
  cursor: pointer; }

.class-icon > i {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 5px;
  background: #fff;
  border-radius: 25px;
  color: #f84c4c;
  line-height: 50px; }

.first-class {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 999;
  display: none;
  width: 220px;
  height: 480px; }

.sort-guild {
  position: relative;
  width: 220px;
  height: 40px;
  line-height: 40px;
  text-indent: 15px; }

.sort-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 11px;
  height: 11px;
  background: url("../img/wclose.png") top center no-repeat; }

.sort-item {
  position: relative;
  width: 220px;
  height: 36px;
  line-height: 36px;
  cursor: pointer; }

.sort-item > a, .ss-item > a {
  display: block;
  width: 200px;
  height: 36px;
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.sort-item:hover, .ss-item:hover {
  background-color: #e9e9e9; }

.sort-item > a > .fa {
  margin-right: 10px; }

.second-sort {
  position: absolute;
  top: 0;
  left: 220px;
  z-index: 999;
  width: 220px;
  height: auto;
  display: none; }

.sort-item:hover .second-sort {
  display: block; }

.ss-item {
  width: 220px;
  height: 36px;
  line-height: 36px;
  text-indent: 10px;
  cursor: pointer; }

/*floornav*/
.floornav {
  width: 40px;
  border: 1px solid #d4d4d4;
  position: absolute;
  top: 100px;
  left: 178px;
  background-color: #fff; }

.floornav > li {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
  cursor: pointer; }

.floornav > li:last-child {
  border-bottom: none; }

.floor-txt {
  position: absolute;
  left: 42px;
  top: 1px;
  font-size: 14px;
  display: none;
  width: 40px;
  height: 40px;
  line-height: 20px; }

.floornav > li:hover > .floor-txt {
  display: block;
  left: 0px;
  top: 0px; }

.footer-box {
  width: 100%;
  height: auto;
  background: #fff;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4; }

.footer {
  width: 1000px;
  margin: 0 auto;
  height: 223px; }

.foot-logo, .foot-right {
  width: 280px;
  height: 57px;
  margin: 83px auto; }

.tipstxt {
  font-size: 16px; }

.foot-right > strong {
  font-size: 29px;
  color: #fc6607;
  font-weight: normal; }

.foot-guild {
  width: 440px;
  height: 223px; }

.f-gd-list {
  display: block;
  width: 424px;
  height: 223px; }

.f-gd-item {
  display: inline-block;
  float: left;
  width: 140px;
  height: 155px;
  padding-top: 38px;
  padding-bottom: 30px;
  border-left: 1px solid #d4d4d4; }

.f-gd-item:last-child {
  border-right: 1px solid #d4d4d4; }

.itemcon {
  display: block;
  width: 140px;
  height: 155px;
  text-align: center; }

.itemTietle {
  font-size: 18px;
  margin-bottom: 20px; }

.itemlink {
  line-height: 28px; }

.itemlink > a {
  color: #666; }

/*copy*/
.copy {
  width: 100%;
  height: auto;
  margin-bottom: 20px; }

.copy-txt {
  display: block;
  width: 1000px;
  height: 48px;
  line-height: 48px;
  margin: 0px auto;
  color: #666;
  text-align: center; }

.copy-txt > span {
  padding-right: 10px; }

