@charset "utf-8";
/****
****web normal stylesheet (website basic style)
****include body/backround/font...
****include website indexAds/head/banner/footer/help  (frame style)
****/

/***********************basic style***********************/
/*html*/
body, div, ul, ol, li, dl, dt, dd, p, span, em, i, small, strong, h1, h2, h3, h4, h5, h6, form, input, button, select, textarea, img{ margin: 0 ; padding: 0;}
body{font-family: "Microsoft YaHei"; font-size: 14px; color:#333; min-width: 1000px; _width: expression(document.documentElement.clientHeight > 1000 "1000px" : "");}
input,select,textarea,input.save,input.saveAdd{font-family:"Microsoft YaHei";}
input[type=radio],input[type=checkbox]{border:none !important; border:none \9\0; #border:none; }
h1, h2{ font-size: 16px; font-weight: normal;}
h3, h4, h5, h6{ font-size: 14px; font-weight: normal;}
em, i, small{ font-size: 12px; color: #999; font-style: normal;}
ul, ol, li{ list-style: none;}
*:focus{ outline: none; -moz-outline: none;}
a, a:link, a:visited{ color: #333; text-decoration: none;}
a:hover, a:active{ color: #f84c4c; text-decoration:none;}
a:hover>.fa, a:active>.fa{ color: #f84c4c; text-decoration:none;}
img{ border: 0;}
/*text-color*/
.rt{ color: #f84c4c !important;}
.ot{ color: #fc6607 !important;}
.bt{ color: #3ca0fe !important;}
.wt{ color: #fff !important;}
/*text-size*/
.f16{ font-size: 16px;}
.f14{ font-size: 14px;}
.f12{ font-size: 12px;}
.f18{ font-size:18px;}
.f24{font-size:24px;}
.font30{font-size:30px;}
.f20{font-size:20px;}
/*font color*/
.fontred,.fcolorRed{ color:#f84c4c;}
.fontgreen,.fcolorGreen{color:#51b06c;}
.fontblue{color:#3ca0ff;}
.fcolor58{color:#585858 !important;}
.fcolor9{color:#999;}
.fcolor3{color:#333;}
.fcolorWhite{color:white;}

a.acolorRed,a:hover .acolorRed{color:#f84c4c !important;}
a.acolor58,a:hover .acolor58{color:#585858 !important;}
a.acolorBlue,a:hover .acolorBule{color:#3ca0ff !important;}
a.acolorWhite,a:hover .acolorWhite{color:white !important;}
a.acolorGray,a:hover .acolorGray{color:#999 !important;cursor:default;}
a.acolorBlue .fa,a:hover .acolorBule .fa{color:#3ca0ff !important;}
/*margin*/
.mr20{margin-right:20px;}
.mb20{margin-bottom:20px;}
.mar10{margin:0 10px;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.pd20{padding:20px;}
.pdb20{padding-bottom:20px;}
.pdl20{padding-left:20px;}
.pd15{padding:15px;}
.pd5{padding:5px;}
.pd0{padding:0 !important;}
.mr0{margin:0 !important;}
.pdx10{padding:0 10px;}
/*bg-color*/
.red{ background-color: #f84c4c; color: #fff;}
.red:hover{ background-color: #f63c3c;}
.blue{ background-color: #3ca0fe; color: #fff;}
.blue2{ background-color: #3ca0ff; }
.blue:hover{ background-color: #3197f8;}
.orange{ background-color: #fc6607; color: #fff;}
.orange:hover{ background-color: #f26100;}
.green{ background-color: #51b06c; color: #fff;}
.green:hover{ background-color: #46a862;color: #fff;}
.gray{ background-color: #c0c0c0; color: #fff;}
.gray:hover{ background-color: #b8b8b8;}
.grey{ background-color: #f3f3f3; color: #585858;}
.white{ background-color: #fff !important;}
.bgred{background:#f84c4c !important;}
.bgf5{background:#f5f5f5;}
/*width*/
.w100p{width:100% !important;}
.w325{width:325px;}
.textarea-row{ display:inline-block; height:100px; padding:10px;}
/*border*/
.bd{ border: 1px solid #d4d4d4;}
.bd-t{ border-top: 1px solid #d4d4d4 !important;}
.bd-r{ border-right: 1px solid #d4d4d4;}
.bd-b{ border-bottom: 1px solid #d4d4d4;}
.bd-l{ border-left: 1px solid #d4d4d4;}
.liNobr{border-right:0;}
.bd-b-dash{border-bottom: 1px dashed #d4d4d4;}
.bdred{border:1px solid #f84c4c;}
.bdgreen{border:1px solid #51b06c; }
.noBorder{border:0 !important;}
.bd-be{border-bottom:1px solid #eee;}
.bd-re{border-right:1px solid #eee;}
.bd-e{border:1px solid #eee;}
/*float*/
.fl{ float: left !important;}
.fr{ float: right !important;}
.clearfix:after{ content: ""; display: block; clear: both; height: 0; visibility:hidden;}
.clearfix{ *zoom: 1; }
/*display*/
.db{ display: block;}
.dn{ display: none;}
.di{ display: inline;}
.dib{ display: inline-block;}
/*align*/
.tc{ text-align: center;}
.tl{ text-align: left !important;}
.tr{ text-align: right;}
.vam{vertical-align: middle;}
.vat{vertical-align: top;}
.vab{vertical-align: bottom;}
.ellipsis{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tid{text-indent:2em;}
.fa-1_2x{font-size:1.2em !important;}
.fa-mobile-phone{font-size:1.3em !important;}
/*postion*/
.pr{ position: relative;}
.pa{ position: absolute;}
/*btn*/
.btn{ display: inline-block; padding: 6px 26px; font-family: "Microsoft YaHei"; border: none; font-size: 16px; line-height: 24px; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer;}
.s-btn{ display: inline-block; padding: 5px 15px; font-family: "Microsoft YaHei"; border: none; font-size: 14px; line-height: 20px; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer;}
.x-btn{ display: inline-block; padding: 4px 8px; font-family: "Microsoft YaHei"; border: none; font-size: 14px; line-height: 20px; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer;}

.tab-pane{ display: none;}
.active{ display: block;}
.com-detail .active{display:block !important;}

.oh{ overflow: hidden;}
.vv{ visibility: visible;}
.vh{ visibility: hidden;}

/***********************frame style***********************/
/****** head ------ index pop ads(topbanner-box) ******/
.wrapper{ width: 100%; min-width: 1000px; margin: 0 auto; overflow: hidden;}

.topbanner{ position: relative; width:1920px; height: 120px; min-width:1000px; text-align:center;left:50%; margin-left:-960px;overflow:hidden;}
.topbanner>a{ display: block; height: 120px; margin: 0 auto; text-align: center;/* background: url("../img/top-banner.jpg") center center no-repeat; */}
.topbanner>a img{width:1920px; height:120px;}
.close-icon{ position: absolute; z-index: 2; top: 5px; left: 50%; display: block; width: 1000px; margin-left: -505px;}
#close{ float: right; width: 22px; height: 22px;}
#topbanner-box{overflow:hidden !important;}

/****** head ------ topinfo-box ******/
.topinfo-box{ width: 100%; background-color: #f5f5f5;}
.topinfo{ width: 1000px; height: 35px; margin: 0 auto; line-height: 34px;}
.topinfo-left{ width: 640px; display: block;}
.leftinfo{ width: 100%;}
.leftinfo-link{ float: left; display: block; margin-right: 15px; vertical-align: top;}
#com-name{ max-width: 200px; height: 35px;}
.rightinfo{ width: 350px; display: block;}
.rightinfo-link{ float: right; display: block; margin-left:10px; position: relative;}
.leftinfo-link>a, .rightinfo-link>a{ padding: 0px 3px;}
.rightinfo-link>a>i{ margin-left: 10px; vertical-align: 3px;}
.rightinfo-link:hover>.top-qrcodebg{ visibility: visible;}
.top-qrcodebg{ position: absolute; top: 28px; left: -25px; z-index: 10; visibility: hidden; background: url("../img/top-qrcodebg.png") top center no-repeat;}
.top-qrcode{ padding: 20px 13px 1px;}
.top-qrcode>img{ width: 95px; height: 95px;}
/****** head -- logomodule(index search bar) ******/
.logomodule{width:1000px; height: 75px; margin: 0 auto;}
.searchwrap{ position: relative; width: 680px; height: 47px; margin-top: 14px; margin-left: 110px; }
.searchbar{ display: block; background-color: #f3f3f3; width: 583px; height: 35px; padding: 6px;}
.searchbar input{ border: none; width: 100%; font-family: "Microsoft YaHei"; font-size: 14px; height: 25px; line-height: 25px;}
.searchbar-txt{ width: 328px; height:25px; padding: 4px 10px; background-color: #fff; border: 1px solid #d4d4d4; margin-right: 10px;}
.sh-txt{}
.searchbar-area{ position: relative; width: 93px; height: 25px; padding: 4px 10px; background-color: #fff; border: 1px solid #d4d4d4; cursor: pointer; margin-right: 10px;}
.searchbar-area>.fa{ position: absolute; top: 5px; right: 10px; z-index: 8;}
.searchbar-area:hover>.fa{ color: #f84c4c;}
.sh-area{}
.searchbar-btn{ width: 98px; height: 33px; background-color: #f84c4c; color: #fff; cursor: pointer;}
.searchbar-btn>input{ margin-top: 3px; font-family: "Microsoft YaHei"; font-size: 16px;}
.searchbar-r{ width: 70px; height: 47px; text-align: center; margin-left: 5px;}
.searchbar-r>a{ line-height: 20px;}
.areaselectbar{ position: absolute; top: 40px; right: 199px; width: 420px; min-height:342px; padding: 19px; height: auto; display: none; z-index: 278;}
/****** head -- mainmenu-box（navagition bar） ******/
.mainmenu{ width:1000px; height: 75px; margin: 0 auto; font-size: 16px; line-height: 74px;}
#mlogo{ float: left; width: 200px; height: 60px; display: block; margin-top: 8px;}
#mlogo>img{}
.mnav{ width: 780px; height: 75px; margin-left: 20px; }
.mnav>li{ float: left; width:auto; margin-left: 1px;}
.mnav>li>a{ padding: 0px 25px; display: block; position: relative; }
.mnav-now{ background-color: #f84c4c; color: #fff !important;}
.mnav>li:hover{ background-color: #f84c4c;}
.mnav>li:hover>a, .mnav-now>a, .mnav-now>li:hover, .mnav>li:hover>a:hover, .mnav>li:hover>a:active{ color: #fff;}
#new{ position: absolute; top: 20px; right: -10px; z-index: 5;}
.mnav>li>a>i{ margin-left: 15px; vertical-align: 3px;}
.mnav>li:hover>a>.fa{ color: #fff;}
.mnav-more{ position: absolute; z-index: 180; width: 138px; text-align: center; display: none; }
.mnav>li:hover>.mnav-more{ display: block;}
.mnav-more>li{ height: 40px; line-height: 40px; background-color: #f84c4c; display: block; margin-top: 1px;}
.mnav-more>li:hover{ background-color: #f63c3c;}
.mnav-more>li>a{ display: block; color: #fff;}
.mnav-more>li:hover>a, .mnav-more>li:hover>a:hover, .mnav-more>li:hover>a:active{ color: #fff;}
/*mainnav*/
.mainnav{ display: block; width:1000px; height: 40px; margin: 0 auto; font-size: 16px; line-height: 40px;}
.mainnav>li{ float: left; width: auto; margin-left: 1px;}
.mainnav>li>a{ padding: 0px 24px; display: inline-block; color: #fff; }
.mainnav>li>a:hover{ background-color: #f84c4c;}
.navnow{ background-color: #f84c4c; color: #fff !important;}
/****** banner -- banner ******/
.banner{ width: 100%; height: 460px; margin: 0 auto; overflow: hidden; position: relative;}
.slides{ width: 100%; height: 460px; overflow: hidden;}
.slides>a{ float: left; display: block; width: 100%; height: 460px;}
.slideList{ position: absolute; bottom:20px; left: 50%; z-index:50; display: block; width: 110px; margin-left: -55px; text-align: center;}
.slideList li{ float: left; width: 24px; height: 6px; background-color: #acacac; margin: 0 5px; cursor: pointer;}
.slideList li:first-child{ margin-left: 0;}
.slideList li:last-child{ margin-right: 0;}
.slideList li.active{ background-color: #3ca0fe;}
.arrow{ position: absolute; z-index: 60; left:2%; bottom: 200px; width:96%; height: 90px;}
.arrow>a{display:block; width: 45px; height: 90px; background:url("../img/b-arrow.png") no-repeat;}
.arrow>a.prev{ background-position: left top;}
.arrow>a.next{ background-position: right top;}

/****** footer -- footer ******/
.footer-box{ width: 100%; height: auto; background: #fff; border-top: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4;}
.footer{ width: 1000px; margin: 0 auto; height: 223px;}
.foot-logo, .foot-right{ width: 280px; height: 57px; margin: 83px auto; text-align: center;}
.foot-logo>img{}
.tipstxt{ font-size: 16px;}
.foot-right>strong{ font-size: 29px; color: #fc6607; font-weight: normal;}
.foot-guild{ width: 440px; height: 223px;}
.f-gd-list{ display: block; width: 424px; height: 223px; border-right: 1px solid #d4d4d4;}
.f-gd-item{ display: inline-block; float: left; width: 140px; height: 155px; padding-top: 38px; padding-bottom: 30px; border-left: 1px solid #d4d4d4;}
/*.f-gd-item:last-child{}*/
.itemcon{ display: block; width: 140px; height: 155px; text-align: center;}
.itemTietle{ font-size: 18px; margin-bottom: 20px;}
.itemTietle>.fa{ margin-right: 3px;}
.itemlink{ line-height: 28px;}
.itemlink>a{ color: #666;}
/*copy*/
.copy{ width: 100%; height: auto; margin-bottom: 10px;}
.copy-txt{ display: block; width: 1000px; height: 48px; line-height: 48px; margin: 0px auto; color: #666; text-align: center;}
.copy-txt>span{ padding-right: 10px;}
/*help*/
.helpWrap{width:1000px;margin:0 auto;height:auto;min-height:453px;background:#fff;}
.helpWrap .leftTabWrap{width:207px;line-height:50px;}
.helpWrap .bdl23{border-left:23px solid #f5f5f5;}
.helpWrap .rightCont{width:720px;background:#fff;padding:25px;min-height:453px;}
.helpWrap .leftTabWrap .active{color:#f84c4c;border-left:5px solid #f84c4c;}
.helpWrap .tabItem{cursor:pointer;}
.helpWrap .contItem{display:none;padding:20px 30px;}
.helpWrap .rightCont>div.on{display:block;}
.helpWrap .contLine{margin-left:-55px;margin-right:-55px;height:1px;}
.helpWrap .contDetail{line-height:30px;margin-top:35px;}

.helpWrap .userChar{width:110px; text-align:right; display:inline-block; margin-right:10px; vertical-align:top; line-height:40px;}
.comContEdit .userChar{width:120px;}
.userValue{display:inline-block; line-height:40px;position:relative;}
.edit-rowInput{height:30px; width:223px; border:1px solid #d4d4d4; color:#999; margin:4px 0; line-height:30px;padding:0 5px;}
.userValue>.fa{ position: absolute; top:11px; right: 8px;}
.userValue:hover input, .userValue:hover .fa{ color: #333;}
.w233{width:233px !important;}
.helpWrap .filter-list{top:35px !important;}
/*select effect*/
.userValue:hover .filter-list{ display: block;}
.helpWrap .w480{width:480px; min-height:200px;}
.helpDocTab{height:38px;line-height:40px;cursor:pointer;}
.helpDocTab>div{width:328px;}
.helpDocTab>div.helpDocRight{width:329px;}
.helpDocTab .active{background:#f84c4c;color:#fff;}
.helpDocCont{line-height:39px;}
.helpDocCont>div{display:none;}
.helpDocCont>div.on{display:block;}
.contUl li{border-bottom:1px dashed #e3e3e3;}
/*popover layer*/
#popWrap{z-index:9999;}
#popWrap .popBg{width:100%;height:100%;position:absolute;top:0;left:0;filter:alpha(opacity=60);opacity:0.6;background:rgba(0,0,0,.6);z-index:2;display:block;}
#popWrap .popBox{background:#fff;position:absolute;z-index:299;display: block;width:528px;min-height:100px;line-height:30px;}
#popWrap .popTit{height:50px;line-height:50px;padding:0 15px;}
#popWrap .popTit .fa:hover{color:#f84c4c;}
#popWrap .popCont{margin:15px auto;padding:0 15px;}
.popBtn{margin-top:15px;}
.popBtn>input{height:30px;line-height:30px;padding:0 15px;}
